*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orange;
    background-size: cover;
    background-position: center;
}

main{
    text-align: center;
    font-size: large;
}

main div{

    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.voto{

    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}